# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/.coverage*

# example outputs
wandb/
slurm_logs/
.ipynb_checkpoints/
results/
top_results/

# data files
*.h5ad
