general: # general configuration for the sweep, required
  project_name: your_project # Name of the project, required
  entity: your_entity # Name of the wandb entity, required
  mamba_env: your_mamba_env # Name of the mamba environment, optional
  modules: your_modules # List of modules to load, space separated, optional
  count: 1 # number of parameter combinations evaluates per job in the array, optional

slurm: # slurm configuration, optional
  time: "00:30:00"
  mem_per_cpu: "8G"
  job_name: sweep
  output: slurm_logs/wandb_grid_%A_%a.out
  array: "0-2" # this determines how many jobs will be run in parallel. The array is optional and can be omitted if you want to run a single job.

wandb: # wandb configuration, required. See https://docs.wandb.ai/guides/sweeps/define-sweep-configuration/ for more details.
  program: train.py
  method: grid
  name: sweep

  metric:
    goal: maximize
    name: val_acc
  parameters:
    batch_size:
      values: [16,32,64]
    lr:
      values: [0.001, 0.01]
    epochs:
      values: [5, 10, 15]
